<a href="https://colab.research.google.com/github/Ahiraf/PythonExploration/blob/main/Intro_to_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro To Python :- #

In [ ]:
print("Hello World !")

Hello World !

# Variables ##

* Integer
* Floating Point
* String
* Boolean
* List
* Dictionary
* Set

In [ ]:
age = 23 #Integer
name = 'Fariha' # String
cgpa = 3.5 #Floating Point
graduated = False #Boolean
print(age)
print(name)
print(cgpa)
print(graduated)

23
Fariha
3.5
False

# Arithmatic

In [ ]:
 a = 10
 b = 3
addition = a + b
subtraction = a - b
multiplication = a * b
division = a / b
integer_division = a // b
modulus= a % b
exponent= a ** b #a^b
print(addition)
print(subtraction)

13
7

# String Arithmatic

In [ ]:
first_name = "Fariha"
last_name = "Mim"
full_name = first_name + " " + last_name # Concatanation
print(full_name)
print(first_name * 6) # Without using loop possible in Python

Fariha Mim
FarihaFarihaFarihaFarihaFarihaFariha

### Output Formatting

In [ ]:
print(f"My name is {name}. ") # f string
print(f"My cgpa is {cgpa} .")

My name is Fariha.
My cgpa is 3.5 .

# Functions

In [ ]:
def say_hello():   # indentation should be followed . def= define
  print("Hello world!")
say_hello()

def say_hello(name):
  print(f"Hello, {name}!")
say_hello("Fariha")
say_hello("MIM")

Hello world!
Hello, Fariha!
Hello, MIM!

# String

In [17]:
str1 = "Ajke"
str2 = "Ct"
str3 = "chilo"
str = str1 + " " + str2 + " " + str3
print(str)

Hashi = "hi"
print(Hashi * 3)

Ajke Ct chilo
hihihi

#Indexing and Accessing

In [16]:
str4 = "school"
print(str4[0])
print(str4[5])

print(str4[-1])
print(str4[-2])
print(str4[-6])

s
l
l
o
s

In [25]:
dept = 'Computer Science and Engineering'
dept[0:8]
size = len(dept)

dept[9:]
dept[21:]

'Engineering'

In [27]:
dept1 = 'Computer'
print(dept1[::2])

# dept1[::2] means slicing the string starting from the first character ('C')
# and going to the end. The step size is 2, so it skips every alternate character.
# For example, 'C' is included, 'o' is skipped, then 'm' is included, and so on.

print(dept1[1::2])
print(dept1[1:4:2]) # Here start index is 1 and the end is 4 .

Cmue
optr
op

#Convertion

In [ ]:
str1 = 'hello world'
str2 = 'HELLO WORLD'
print(str1.upper())
print(str2.lower())

# Replacing

In [31]:
str2 = 'My CGPA is 4.00'
print(str2.replace('4.00','3.00')) # If I want to save this change I have to use another string variable and keep the change there

My CGPA is 3.00

# Character counting

In [34]:
Mydept = 'Computer Science and engineering'
char = 'e' # I want to see the frequency of 'e' in Mydept
frequency = Mydept.count(char)
print(f" '{char}' appears '{frequency}' times in Mydept ")

 'e' appears '6' times in Mydept

# List
It is a collection of data (data types)

* ordered
* Mutable(I can change the elements)
* Indexing

In [35]:
fruits = ['Apple','banana','Mango']
fruits[0] = 'Orange'
print(fruits)

['Orange', 'banana', 'Mango']

In [40]:
number = [1,2,3,4,5]
number.append(6)  # Number will be added at the last of the list
number
number.remove(3) # 3 will be removed
number  # print always shows the last operations

[1, 2, 4, 5, 6]