<a href="https://colab.research.google.com/github/Ahiraf/PythonExploration/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Series**

In [1]:
import pandas as pd

x = [3, 4, 5, 1, 2, 12, 10, 66, 104]
var = pd.Series(x)  # Careful Series should start with capital 'S'
print(var)

print(type(var)) # to know what type of data structure is used from pandas

0      3
1      4
2      5
3      1
4      2
5     12
6     10
7     66
8    104
dtype: int64
<class 'pandas.core.series.Series'>

In [2]:
print(var[2])

5

# **Customized index**

In [3]:
var1 = pd.Series(x, index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']) # The number of indices should be equal to the number of data..
print(var1)

a      3
b      4
c      5
d      1
e      2
f     12
g     10
h     66
i    104
dtype: int64

**Can also change the data type + can give a name to the dataset.**

In [4]:
var1 = pd.Series(x, index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'], dtype = 'float', name = 'Farihas Data') # The number of indices should be equal to the number of data..
print(var1)

a      3.0
b      4.0
c      5.0
d      1.0
e      2.0
f     12.0
g     10.0
h     66.0
i    104.0
Name: Farihas Data, dtype: float64

# **Storing a dictionary in the Series**

In [5]:
dic = {"name": ['c', 'c++', 'java', 'python'], "performance": ['6', '9', '5', '10'], "rank": ['3', '2', '4', '1']}
var2 = pd.Series(dic);
print(var2) # as there is many types of variables(int, string..) so dtype will be object
print(type(var2))

name           [c, c++, java, python]
performance             [6, 9, 5, 10]
rank                     [3, 2, 4, 1]
dtype: object
<class 'pandas.core.series.Series'>

# Storing one element

In [6]:
s = pd.Series(12)
print(s)
print(type(s))

0    12
dtype: int64
<class 'pandas.core.series.Series'>

# Repeated same value at every index

In [7]:
s1 = pd.Series(12, index = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
print(s1)

1     12
2     12
3     12
4     12
5     12
6     12
7     12
8     12
9     12
10    12
dtype: int64

In [8]:
s2 = pd.Series(12, index = [1, 2, 3, 4])
s3 = pd.Series(12, index = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11,])
print(s2 + s3) # NaN = Not a number

1     24.0
2     24.0
3     24.0
4     24.0
5      NaN
6      NaN
7      NaN
8      NaN
9      NaN
10     NaN
11     NaN
dtype: float64

# **DataFrame**

In [9]:
l = [1, 2, 3, 4, 5, 6]
varl = pd.DataFrame(l)
print(varl)
print(type(varl))

   0
0  1
1  2
2  3
3  4
4  5
5  6
<class 'pandas.core.frame.DataFrame'>

In [10]:
dic = {"a": [1, 2, 3, 14, 5], "b":[1, 2, 3, 4, 5,], "c": [1, 2, 3, 4, 5], 1:[1, 2, 3, 4, 5]} # here both arrays(a, b) should be of same length otherewise it will show error
vardic = pd.DataFrame(dic)
print(vardic)

    a  b  c  1
0   1  1  1  1
1   2  2  2  2
2   3  3  3  3
3  14  4  4  4
4   5  5  5  5

# **To print some required columns only:**

In [11]:
vardic1 = pd.DataFrame(dic, columns = ["a", 1])
print(vardic1)

    a  1
0   1  1
1   2  2
2   3  3
3  14  4
4   5  5

# **Customized index**

In [12]:
vardic2 = pd.DataFrame(dic, columns = ["a", 1], index = ['a', 'b', 'c', 'd', 'e']) # index number should be same of the number elements.
print(vardic2)

    a  1
a   1  1
b   2  2
c   3  3
d  14  4
e   5  5

# **To get an element**

In [13]:
print(vardic["a"][3])  # [col][row]

14

# **DataFrame of List of list**

In [14]:
list = [[1, 2, 3, 4, 5], [11, 12, 13, 14, 15]]
varlist = pd.DataFrame(list)
print(varlist)
print(type(varlist))

    0   1   2   3   4
0   1   2   3   4   5
1  11  12  13  14  15
<class 'pandas.core.frame.DataFrame'>

# **Storing a Series in a DataFrame**

In [15]:
sr = {"s": pd.Series([1, 2, 3, 4]), "r": pd.Series([11, 12, 13, 14])}
varsr = pd.DataFrame(sr)
print(varsr) # Adding two series...
print(type(varsr))

   s   r
0  1  11
1  2  12
2  3  13
3  4  14
<class 'pandas.core.frame.DataFrame'>

# **Arithmatic Operations**

In [16]:
var5 = pd.DataFrame({"A": [1, 2, 3, 4], "B": [5, 6, 7, 8]})
var5

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

# **Creating a new column and storing the Addition of the column of 'A' and 'B'**

In [17]:
var5["c"] = var5["A"] + var5["B"]
var5

   A  B   c
0  1  5   6
1  2  6   8
2  3  7  10
3  4  8  12

In [18]:
var5["c"] = var5["A"] - var5["B"]
var5

   A  B  c
0  1  5 -4
1  2  6 -4
2  3  7 -4
3  4  8 -4

In [19]:
var5["c"] = var5["A"] / var5["B"]
var5

   A  B         c
0  1  5  0.200000
1  2  6  0.333333
2  3  7  0.428571
3  4  8  0.500000

In [20]:
var5["c"] = var5["A"] * var5["B"]
var5

   A  B   c
0  1  5   5
1  2  6  12
2  3  7  21
3  4  8  32

# **Logical operations**

In [21]:
var6 = pd.DataFrame({"A": [10, 20, 30, 40], "B": [15, 16, 17, 18]})
var6["Python"] = var6["A"] <= 20 # if any value from the column 'A' is less than or equals to 20 then it will show true
var6

    A   B  Python
0  10  15    True
1  20  16    True
2  30  17   False
3  40  18   False

In [22]:
var6 = pd.DataFrame({"A": [10, 20, 30, 40], "B": [15, 16, 17, 18]})
var6["Python1"] = var6["B"] >= 16 # if any value from the column 'B' is greater than or equals to 16 then it will show true
var6

    A   B  Python1
0  10  15    False
1  20  16     True
2  30  17     True
3  40  18     True

# **Delete and Insert Function**

# Insert

In [23]:
var7 = pd.DataFrame({"A": [1, 2, 3, 4, 5], "B": [9, 8, 6, 7, 5]})
var7

   A  B
0  1  9
1  2  8
2  3  6
3  4  7
4  5  5

In [24]:
var7["Python_1"] = [1, 2, 3, 4, 5]  # new column
var7

   A  B  Python_1
0  1  9         1
1  2  8         2
2  3  6         3
3  4  7         4
4  5  5         5

## New column using insert function (If I want a new column in the mid position of the previous table.)

In [25]:
var7.insert(1, "python_2", var7["A"]) # new column same as A
# insert(index, col_name, elements)
var7

   A  python_2  B  Python_1
0  1         1  9         1
1  2         2  8         2
2  3         3  6         3
3  4         4  7         4
4  5         5  5         5

In [26]:
var7.insert(1, "python_3", [11, 12, 13, 14, 15]) # creating a new column where the number of the elements should be same as the previous columns.Otherwise it will show error.
var7

   A  python_3  python_2  B  Python_1
0  1        11         1  9         1
1  2        12         2  8         2
2  3        13         3  6         3
3  4        14         4  7         4
4  5        15         5  5         5

# If I want to create a column as the copy of column "A" but not all elements should be copy but first some of the elements.

In [27]:
var8 = pd.DataFrame({"A": [11, 12, 13, 14, 15], "B": [29, 28, 26, 27, 25]})
var8["Python_12"] = var8["A"][:3] # Here slicing is used so that first 3 elements of col A should be in the python_12
var8

    A   B  Python_12
0  11  29       11.0
1  12  28       12.0
2  13  26       13.0
3  14  27        NaN
4  15  25        NaN

# **Delete Function**

In [28]:
var9 =pd.DataFrame({"A": [1, 2, 3, 4, 5], "B": [9, 8, 6, 7, 5], "C": [11, 12, 13, 14, 15]})
var9

   A  B   C
0  1  9  11
1  2  8  12
2  3  6  13
3  4  7  14
4  5  5  15

In [29]:
var_deleted = var9.pop("B") # Which col will be deleted is now stored in a variable named var_deleted
var_deleted

0    9
1    8
2    6
3    7
4    5
Name: B, dtype: int64

In [30]:
var9 # After deletion

   A   C
0  1  11
1  2  12
2  3  13
3  4  14
4  5  15

In [31]:
del var9["A"]
var9

    C
0  11
1  12
2  13
3  14
4  15

# **Reading a CSV file**

# Write CSV

In [32]:
dic1 = {"a": [1, 2, 3, 4, 5, 6], "s": [1, 2 , 3, 4, 5, 6], "d": [1, 2, 3, 4, 5, 6]}
d = pd.DataFrame(dic1)
print(d)

   a  s  d
0  1  1  1
1  2  2  2
2  3  3  3
3  4  4  4
4  5  5  5
5  6  6  6

In [33]:
d.to_csv("Test_new.csv")

In [34]:
d.to_csv("Test_new1.csv",index = False) # the indices or the row number will not appear now

In [35]:
d.to_csv("Test_new2.csv", index = False, header = [1, 2, 3]) # instead of 'a', 's', 'd' column names '1', '2', '3' will appear

# Read CSV

In [38]:
csv_1 = pd.read_csv('/content/Test_new.csv')
csv_1 #csv_1 has an 'Unnamed: 0' column, even though I only created 'a', 's', and 'd'. This happens because when I save a DataFrame to a CSV using d.to_csv("Test_new.csv"), pandas, by default, writes the DataFrame's index as the first column in the CSV file. Since this index column doesn't have a specific name assigned in the CSV header, pd.read_csv() then names it 'Unnamed: 0' when it reads the file back.

   Unnamed: 0  a  s  d
0           0  1  1  1
1           1  2  2  2
2           2  3  3  3
3           3  4  4  4
4           4  5  5  5
5           5  6  6  6

# To get a particular row

In [40]:
csv_2 = pd.read_csv('/content/Test_new.csv', nrows = 2)
print(csv_2)
print(type(csv_2))

   Unnamed: 0  a  s  d
0           0  1  1  1
1           1  2  2  2
<class 'pandas.core.frame.DataFrame'>

# To get a particular column

In [41]:
csv_3 = pd.read_csv('/content/Test_new.csv', usecols = ["s"])
print(csv_3)

   s
0  1
1  2
2  3
3  4
4  5
5  6

# To get multiple column

In [43]:
csv_4 = pd.read_csv('/content/Test_new.csv', usecols = ["s", "d"])
print(csv_4)

   s  d
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5
5  6  6

In [45]:
csv_5 = pd.read_csv('/content/Test_new.csv', usecols = [0, 3]) # will show the data of the col 0 and 3
print(csv_5)

   Unnamed: 0  s
0           0  1
1           1  2
2           2  3
3           3  4
4           4  5
5           5  6

# To skip a particular row

In [48]:
csv_6 = pd.read_csv('/content/Test_new.csv', skiprows = [1])
print(csv_6)

   Unnamed: 0  a  s  d
0           1  2  2  2
1           2  3  3  3
2           3  4  4  4
3           4  5  5  5
4           5  6  6  6

# To skip multiple rows

In [50]:
csv_7 = pd.read_csv('/content/Test_new.csv', skiprows = [1, 3])
print(csv_7)

   Unnamed: 0  a  s  d
0           1  2  2  2
1           3  4  4  4
2           4  5  5  5
3           5  6  6  6

# To give customized index

In [51]:
csv_8 = pd.read_csv('/content/Test_new.csv', index_col = "a") # column 'a' will act like index now
print(csv_8)

   Unnamed: 0  s  d
a
1           0  1  1
2           1  2  2
3           2  3  3
4           3  4  4
5           4  5  5
6           5  6  6

# To change header

In [52]:
csv_9 = pd.read_csv('/content/Test_new.csv', header = 2) # as previous headers were a, s, d or non number types so now the new header is showing as float
print(csv_9)

   1  2  2.1  2.2
0  2  3    3    3
1  3  4    4    4
2  4  5    5    5
3  5  6    6    6

# Customized column names

In [56]:
csv_10 = pd.read_csv('/content/Test_new.csv', names = ["col1", "col2", "col3", "col4", "col5"])
print(csv_10)

   col1 col2 col3 col4  col5
0   NaN    a    s    d   NaN
1   0.0    1    1    1   NaN
2   1.0    2    2    2   NaN
3   2.0    3    3    3   NaN
4   3.0    4    4    4   NaN
5   4.0    5    5    5   NaN
6   5.0    6    6    6   NaN

# To remove column name or header

In [57]:
csv_11 = pd.read_csv('/content/Test_new.csv', header = None)
print(csv_11)

     0  1  2  3
0  NaN  a  s  d
1  0.0  1  1  1
2  1.0  2  2  2
3  2.0  3  3  3
4  3.0  4  4  4
5  4.0  5  5  5
6  5.0  6  6  6

In [63]:
csv_12 = pd.read_csv('/content/Test_new.csv', header=None)
csv_12.columns = [f"col{i}" for i in range(csv_12.shape[1])]
print(csv_12)

   col0 col1 col2 col3
0   NaN    a    s    d
1   0.0    1    1    1
2   1.0    2    2    2
3   2.0    3    3    3
4   3.0    4    4    4
5   4.0    5    5    5
6   5.0    6    6    6

# To change the datatype of a particular column

In [64]:
csv_1 = pd.read_csv('/content/Test_new.csv', dtype = {"s" : "float"}) # to change the datatype a dictionary has to use
print(csv_1)

   Unnamed: 0  a    s  d
0           0  1  1.0  1
1           1  2  2.0  2
2           2  3  3.0  3
3           3  4  4.0  4
4           4  5  5.0  5
5           5  6  6.0  6