<a href="https://colab.research.google.com/github/Ahiraf/PythonExploration/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Series**

In [2]:
import pandas as pd

x = [3, 4, 5, 1, 2, 12, 10, 66, 104]
var = pd.Series(x)  # Careful Series should start with capital 'S'
print(var)

print(type(var)) # to know what type of data structure is used from pandas

0      3
1      4
2      5
3      1
4      2
5     12
6     10
7     66
8    104
dtype: int64
<class 'pandas.core.series.Series'>

In [3]:
print(var[2])

5

# **Customized index**

In [4]:
var1 = pd.Series(x, index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']) # The number of indices should be equal to the number of data..
print(var1)

a      3
b      4
c      5
d      1
e      2
f     12
g     10
h     66
i    104
dtype: int64

**Can also change the data type + can give a name to the dataset.**

In [5]:
var1 = pd.Series(x, index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'], dtype = 'float', name = 'Farihas Data') # The number of indices should be equal to the number of data..
print(var1)

a      3.0
b      4.0
c      5.0
d      1.0
e      2.0
f     12.0
g     10.0
h     66.0
i    104.0
Name: Farihas Data, dtype: float64

# **Storing a dictionary in the Series**

In [6]:
dic = {"name": ['c', 'c++', 'java', 'python'], "performance": ['6', '9', '5', '10'], "rank": ['3', '2', '4', '1']}
var2 = pd.Series(dic);
print(var2) # as there is many types of variables(int, string..) so dtype will be object
print(type(var2))

name           [c, c++, java, python]
performance             [6, 9, 5, 10]
rank                     [3, 2, 4, 1]
dtype: object
<class 'pandas.core.series.Series'>

Storing one element

In [7]:
s = pd.Series(12)
print(s)
print(type(s))

0    12
dtype: int64
<class 'pandas.core.series.Series'>

# Repeated same value at every index

In [8]:
s1 = pd.Series(12, index = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
print(s1)

1     12
2     12
3     12
4     12
5     12
6     12
7     12
8     12
9     12
10    12
dtype: int64

In [9]:
s2 = pd.Series(12, index = [1, 2, 3, 4])
s3 = pd.Series(12, index = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11,])
print(s2 + s3) # NaN = Not a number

1     24.0
2     24.0
3     24.0
4     24.0
5      NaN
6      NaN
7      NaN
8      NaN
9      NaN
10     NaN
11     NaN
dtype: float64

# **DataFrame**

In [11]:
l = [1, 2, 3, 4, 5, 6]
varl = pd.DataFrame(l)
print(varl)
print(type(varl))

   0
0  1
1  2
2  3
3  4
4  5
5  6
<class 'pandas.core.frame.DataFrame'>

In [20]:
dic = {"a": [1, 2, 3, 14, 5], "b":[1, 2, 3, 4, 5,], "c": [1, 2, 3, 4, 5], 1:[1, 2, 3, 4, 5]} # here both arrays(a, b) should be of same length otherewise it will show error
vardic = pd.DataFrame(dic)
print(vardic)

    a  b  c  1
0   1  1  1  1
1   2  2  2  2
2   3  3  3  3
3  14  4  4  4
4   5  5  5  5

**To print some required columns only: **

In [17]:
vardic1 = pd.DataFrame(dic, columns = ["a", 1])
print(vardic1)

   a  1
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5

**Customized index**

In [21]:
vardic2 = pd.DataFrame(dic, columns = ["a", 1], index = ['a', 'b', 'c', 'd', 'e']) # index number should be same of the number elements.
print(vardic2)

    a  1
a   1  1
b   2  2
c   3  3
d  14  4
e   5  5

**To get an element**

In [22]:
print(vardic["a"][3])  # [col][row]

14

**DataFrame of List of list**

In [26]:
list = [[1, 2, 3, 4, 5], [11, 12, 13, 14, 15]]
varlist = pd.DataFrame(list)
print(varlist)
print(type(varlist))

    0   1   2   3   4
0   1   2   3   4   5
1  11  12  13  14  15
<class 'pandas.core.frame.DataFrame'>

**Storing a Series in a DataFrame**

In [30]:
sr = {"s": pd.Series([1, 2, 3, 4]), "r": pd.Series([11, 12, 13, 14])}
varsr = pd.DataFrame(sr)
print(varsr) # Adding two series...
print(type(varsr))

   s   r
0  1  11
1  2  12
2  3  13
3  4  14
<class 'pandas.core.frame.DataFrame'>